<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Registration</title>
</head>
<body>
<h1>Please provide the following information</h1>
<form action="/hosp_info">
<span>Name of the Hospital: </span> <input type="text" name="name"> <br>
<span>Address: </span> <input type="text" name="address"> <br>
<span>Contact No: </span> <input type="tel" name="contact_no"> <br>
<span>Contact Person Name: </span> <input type="text" name="contact_person"> <br>
<span>Contact Person Email: </span> <input type="email" name="person_email"> <br>
<span>Special instructions for Donors: </span> <input type="text" name="instructions"> <br>
<input type="submit" value="Register">
</form>

</body>
</html>