<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlasmaBase BD</title>
</head>
<body>

Please register as donor / hospital

<h3><a href="/register_donor">Register as Donor</a></h3> <br><br>
<h3><a href="/register_hosp">Register as Hospital</a>

<br/>
    <br/>
<form action="/search_plasma">
   <label for="bloodgroup">I need plasma and my bloodgroup is </label>

<select name="bloodgroup" id="bloodgroup">
  <option value="o+">O-Positive</option>
  <option value="o-">O-Negative</option>
  <option value="b+">B-Positive</option>
  <option value="b-">B-Negative</option>
</select>
<input type="submit" value="Look Up">

</form>


</body>
</html>